<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>add info page</title>
	<link rel="stylesheet" type="text/css" href="../styles/addinfo.css">
</head>
<body>
	<header>
		<h1>学生信息管理系统</h1>
	</header>
	<div class="mainBody">
		<div class="leftNav">
			<ul>
				<li><a href="login.html">首页</a></li>
				<li><a href="#">添加信息</a></li>
				<li><a href="#">管理信息</a></li>
			</ul>
		</div>
		<div class="rightContent">
			<form action="index.php" method="post">
				<label for="username">姓名</label>
				<input type="text" name="username" id="username" />
				<label for="sex">性别</label>
				<input type="text" name="sex" id="sex" />
			</form>
		</div>
	</div>

	<script>
		// var form = document.forms.userName.value;
		// alert(form);
	</script>
</body>
</html>