<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>login page</title>
	<link rel="stylesheet" type="text/css" href="../styles/login.css">
</head>
<body>
	<header>
		<h1>学生信息管理系统</h1>
	</header>
	<div class="content">
		<div class="loginPanel">
			<h2>登陆页</h2>
			<form id="form" action="addInfo.html" method="post">
				<label><span>用户名：</span><input type="text" name="userName" placeholder="请输入用户名"></label>
				<label><span>密&nbsp;码：</span><input type="password" name="password" placeholder="请输入密码"></label>
				<label><span>验证码：</span><input type="text" name="confirmText"></label>
				<input id="loginBtn" type="submit" name="登陆">
			</form>
		</div>
	</div>
</body>
</html>